{% include 'header.html' %}

<div class="container" role="main">
    <div class="page-header">
        <h1>Om denna kurs</h1>

        <p>
            Här jobbar vi med klasser, klassattribut, instansattribut, instanser, metoder och statiska metoder.
        </p>

        <h3><a href="http://flask.pocoo.org/">Flask</a></h3>
            - Microramverk för Python.
        <h3><a href="http://jinja.pocoo.org/">Jinja2</a></h3>
            - Template engine för Python som renderar template-filer.
        <h3><a href="http://getbootstrap.com/">Bootstrap</a></h3>
            - Front-end komponent library

    </div>
</div>

{% include 'footer.html' %}
