{% include 'header.html' %}

<div class="container" role="main">
    <div class="page-header">

        <h1>Välkommen till min sida för kursen {{ course }}.</h1>

        <img class="img-responsive center-block img_pig" src= {{ img }} >
        
        <p>Jag heter {{ name }} och det här är kursen {{ course }}. Jag är {{ age }} år gammal och studerar webbprogrammering på BTH, Karlskrona.
        flyttade hit från Flen i Södermanland där jag är född och uppväxt. På min fritid sitter jag mycket vid datorn och kodar, och när jag inte
        gör det blir det en hel del gibbande (pubg - player unknown battleground).</p>



    </div>
</div>

{% include 'footer.html' %}
