{% include 'header.html' %}

<div class="container" role="main">
    <div class="page-header">

        <h1>Redovisningar</h1>

        <h3>Kmom01</h3>
        <ol>
            <li>Vilken utvecklingsmiljö använder du?</li>
            <li>Var det några problem med att installera Flask?</li>
            <li>Är du bekant med objekt och klasser sedan tidigare?</li>
            <li>Har du någon erfarenhet av Bootstrap sedan tidigare?</li>
            <li>Gick det bra att komma i gång med kursmomentet, var det lagom, för litet, för stort?</li>
            <li>Vilken del av kursmaterialet (böcker, artiklar, videor, etc) uppskattade du mest?</li>
        </ol>
        <hr>
        <p>
            Började OOPython kursens första kursmoment med att läsa igenom alla läsanvisningar och kolla
            igenom videos. Hade lite svårt för video 3 - Object-oriented programming av Brian Will då hans
            röst är lite jobbig att lyssna på, så den hoppade jag över. Annars tycker jag det var bra läsning,
            boken tordes läsas igenom en gång till då det blir ganska mycket i första läsningen. Men dem små
            artiklarna var riktigt bra. 
        </p>
        <p>
            Då jag inte behövde göra något med labbmiljön eftersom jag har allt installerat sen tidigare
            (cygwin, atom, git, python, chrome/firefox, xampp) så hoppade jag raskt vidare till övningarna.
            Det var inga konstigheter med övningarna heller, det gick bra att både installera Flask och Jinja2.
            Att sätta upp applikationen var inte heller något konstigt, då allt står väldigt bra förklarat.
            Att få applikationen att köras från CGI skriptet funkar klockrent på studenservern, på min lokala
            apache webbserver fungerar det inte, men det ska jag ta och fixa vid senare tillfälle.
        </p>
        <p>
            Känner igen front-end ramverket bootstrap som applikationen använder sig utav, och förstår hur man använder
            dess inbyggda klasser för att styra element på sidan. Kan inte påstå att jag jobbat mycket med det tidigare
            men känns ganska snällt att jobba med. Är inte super säker på objekt och klasser. Det lilla jag kommit i
            kontakt med begreppet objekt är i javascript kursen, så det ska bli kul att gräva sig ner djupare inom området. 
        </p>
        <p> 
            Måste även nämna att labben var riktigt bra, känns som jag fick med mig mycket nyttigt därifrån. Det var någon
            uppgift mot slutet som jag kämpade med, men lyckades ganska snart lösa den. 
        </p>
        </hr>

        <h3>Kmom02</h3>
        <ol>
            <li>Kan du ge exempel på något användningsområde där objektorientering och arv hade passat bra?</li>
            <li>Förstod du de olika relationerna och skillnaden på dem?</li>
            <li>Är du bekant med metoderna GET och POST sedan tidigare?</li>
            <li>Hur tyckte du det gick med formulärhantering i Flask?</li>
            <li>Gick det bra att komma i gång med kursmomentet, var det lagom, för litet, för stort?</li>
            <li>Gjorde du extrauppgiften i “Skapa former”?</li>
            <li>Vilken del av kursmaterialet (böcker, artiklar, videor, etc) uppskattade du mest?</li>
        </ol>
        <hr>
        <p>
            Vad ska man säga, den här uppgiften gjorde mig lite smått tokig. Inte för att det nödvändigtvis var specielt svårt. Men
            det var mycket att förstå och hur man ska strukturera upp koden för allt att fungera. Och som vanligtvis så försöker man
            göra mer än vad som egentligen bara krävs av uppgiften. Men, jag hittade tillslut en lösning och det var inte den lösning
            jag från början var ute efter. Det blir inte alls så DRY som jag önskar, och hanteringen utav "felmeddelanden" känns
            inte som mest elegant, men jag lyckades verkligen inte på något annat sätt än att använda mig utav en list. Krävdes inte
            allt för mycket för att göra Shape classerna vilket man kanske kunde tro från början, det krångliga var att förstå punkt 3
            i uppgiften "Basklassen ska kräva att metoderna get_area() och validate() implementeras.". Så gick igenom all text för
            kursmomentet återigen och där hittade jag vad jag letade efter, (raise NotImplementedError) som helt enkelt tvingar Child
            klasser att överskugga NotImplementedError metoderna.
        </p>
        <p>
            Jag ser verkligen användandet utav objektorientering och arv, känns som det passar in i dem flesta användningsområden
            och skulle tro att dem flesta just också använder sig utav det. Men för att ta ett exempel, ett Zoo som för statistik
            över alla sina djur.
        </p>
        <p>
            Efter onsdagens föreläsning då Andreas förklarade dem olika typer av relationer som existerar så fick man sig en ganska
            bra uppfattning utav vad dem handlar om. Det tar nog ett tag att få in det men förståelsen finns där. Det finns fyra
            relationer Arv, Aggregation, Komposition och Association. Vet inte riktigt om jag förstår skillnaderna riktigt ännu, kommer
            nog behöva kolla på klippet några gånger tills jag förstår det helt och hållet, speciellt komposition och aggregation.
        </p>
        <p>
            GET och POST har vi jobbat med tidigare och jag vet hur man använder dem, men det jag var mer nyfiken nu på var vad som
            händer i bakgrunden med request och URI och hur allt hänger ihop. Men förstod ganska snabbt hur man fick tag i form datan
            och kunna jobba med det i uppgiften tack vare övningen.
        </p>
        <p>
            Jag tycker detta kursmoment var riktigt jobbigt och kan inte förstå varför vi inte hade en genomgång utav flask, jinja,
            forms, handler hur allt hänger ihop... Det var ju inte riktigt att skapa shape classen som var det svåra utan det var
            allt runtomkring.
        </p>
        <p>
            I detta kursmoment gav videorna mig absolut mest, då det blir väldigt mycket nya begrepp och allmänt rörigt i texterna.
        </p>
        </hr>



        <h3>Kmom03</h3>
        <ol>
            <li>Är du bekant med UML sedan tidigare?</li>
            <li>Är du bekant med unittester sedan tidigare?</li>
            <li>Kan du se nyttan med UML och tester inom ramen för ett projekt?</li>
            <li>Vad tycker du om objektorienterad programmering än så länge?</li>
            <li>Gick det bra att komma i gång med kursmomentet, var det lagom, för litet, för stort?</li>
        </ol>
        <hr>
        <p>
            Jag har stött på UML tidigare, dels i oophp men även i databas kursen. I databas jobbade vi dock med ER 
            modellering vilket ändå känns som ett liknande koncept. Jag känner fortfarande att det är knepigt med UML, 
            man jobbar helt enkelt alldeles för lite med det. Unittester däremot känner jag mig mer hemma med, jag 
            förstår det och kan lätt testa det mesta jag vill (mockning kan i många fall vara nödvändigt). 
        </p>
        <p>
            När det kommer till hur man strukturerar UML så finns det flera olika typer av relationer, tre utav dem 
            kanske vanligaste är Aggregation, Komposition och Association. 
        </p>
        <p>
            Om man t.ex. har två klasser som studenter och lärare som båda använder sig utav varanda dvs. en student kan
            ha flera olika lärare och en lärare kan ha flera olika studenter då visualiserar men detta med en rak linje 
            emellan klasserna för att visa på att det är Association.
        </p>
        <p>
            Skulle man däremot införa ytterliggare en klass Avdelningar med en relation till klassen lärare då pratar vi 
            om en Aggregation. Här börjar vi prata om "ägande" dvs. att avdelningar äger lärare. En avdelning kan ha 
            flera lärare och en lärare kan tillhöra flera avdelningar. Detta visas som en rak linje med en ofylld 
            diamand som pekar mot den ägande klassen. Man skulle kunna säga att det är löst ägande eftersom båda 
            klasserna kan existera utan varandra.
        </p>
        <p>
            Om man däremot inför ytterligare en klass Universitet där Universitet är i stark relation med Avdelningar. 
            Avdelningar kan med andra ord bara tillhöra ett Universitet och ett Universitet kan ha flera Avdelningar. 
            Detta visas med en rak linje med en ifylld diamant som pekar mot den ägande klassen. Detta är ett starkt 
            ägande då Avdelningar inte kan existera utan ett Universitet. Detta kallas för en Kompositions relation.
        </p>
        <p>
            Kanske inte perfekt förklarat men känns som jag ändå med hjälp utav övningarna för kursmomentet förstår det 
            hela ganska väl. 
        </p>
        <p>
            Jag tänkte häromdagen att jag borde göra dessa u baklänges, borde börja med att göra ett UML diagram och 
            försöka strukturera upp det som ett fungerande "program/spel". Det borde då vara väldigt enkelt att koda dem 
            klasser/metoder/variablar som behövs, lite som att man bygger en IKEA möbel och kollar på 
            monteringsanvisningarna (kan ju ifs vara fruktansvärt svårt vissa gånger =P). Men med mer erfarenhet så är 
            blir det förmodligen naturligt att tänka så, även om man inte skissar upp ett uml diagram, så får man det 
            tänket och bygger upp det i huvudet.
        </p>
        <p>
            Jag gillar objektorienterad programmering dels för att det blir en bra enkel struktur, där man har var sak 
            inom sina egna objekt och med hjälp av relationer mellan olika objekt lätt kan skapa applikationer där 
            objekten sammanverkar med varandra. Det känns också som att man enklare kan utöka applikationer utan att 
            behöva modifiera existerande objekt när man lägger till nya objekt.   
        </p>
        <p>
            Kursmomentet i sig var riktigt kul, fick en liten kick start av Andreas som gjorde så man kom igång 
            ordentligt, det kändes som en bra storlek, tror faktiskt inte jag stötte på några större problem under 
            arbetets gång.  
        </p>
        </hr>
        <h3>Kmom04</h3>
        <ol>
            <li>Har du skapat egna datastrukturer förut?</li>
            <li>Vilken typ av lista valde du att göra och varför?</li>
            <li>Vilka exceptions skapade du? Hur gör man för att de ska kastas i listan?</li>
            <li>Gjorde du någon extrauppgiften?</li>
            <li>Vad är en länkad lista kontra en array?</li>
            <li>Gick det bra att komma i gång med kursmomentet, var det lagom, för litet, för stort?</li>
        </ol>
        <hr>
        <p>
            Detta är första gången jag skapar egna datastrukturer istället för att använda mig utav python:s inbyggda 
            datastrukturer där jag oftast använder mig utav en list och mot den kör append, insert, pop, count, reverse 
            etc. Känner att jag använt mig utav de flesta varianter listade här:
        </p>
        <p>
            https://docs.python.org/3/tutorial/datastructures.html
        </p>
        <p>
            Började med Queue uppgiften och måste säga det att det ändå tog ett litet tag att förstå det hela med hur 
            man använder Node objekt till att göra en liknelse utav Python's inbyggda lista. Ganska snabbt förstod man 
            att, med hjälp utav att rita upp Node objekten och på så sätt få visualisera listan, gick allt mycket
            enklare. Strukturen på den skapade listan följer en linjär data struktur nämligen en Cirkulär Enkellänkad 
            lista. Detta eftersom den sista noden är länkad till den första "head" noden.
        </p>
        <p>
            Nästa uppgift var att skapa en lista, en Unordered list. Tycker det mesta påminner om ovan uppgift där jag 
            skapade en queue. Bara att man använder sig utav andra methoder. Efter att ha gjort queu uppgiften gick 
            denna uppgift väldigt lätt att göra, då man nu fått en bra förståelse för hur man kopplar Node objekten med 
            varandra. Trodde det skulle vara svårare än vad det var att lägga till nodes i mitten utav listan samt ta 
            bort nodes på valda positioner pga. ombindning utav nodernas länkarna.
        </p>
        <p>
            Under queue uppgiften skapade jag ett exception nämligen:
        </p>
        <li>EmptyQueueException</li>
        <p>Triggas då man försöker kolla current value samt next value på en tom lista.</p>
        <p>
            Under list uppgiften finner man 2 exceptions nämligen:
        </p>
        <li>IndexErrorException</li>
        <p>
            Kastas om man försöker sätta in ett värde på ett index som inte exsisterar. Om man försöker byta ut ett 
            värde på ett index som inte finns. Om man försöker hämta ett värde från ett index som inte finns. 
        </p>
        <li>ValueErrorException</li>
        <p>
            Kastas om man försöker hämta ett index från ett värde som inte finns eller om man försöker ta bort ett 
            värde som inte finns.
        </p>
        <p>
            Som svar på vad en länkad lista är kontra en array handlar nog svaret mest om hur dem hanterar sina index. 
            En länkad lista har egentligen inga index utan är uppbyggd utav länkar som länkar varje nod med nästa nod. 
            I en array däremot är värdena inte länkade med varandra utan dem tillhör bara sina respektive index.   
        </p>
        <p>
            Allt som allt gick kursmomentet riktigt bra. Dels berode det nog mycket på att det fanns väldigt bra 
            artiklar som var lätta att följa. Genom att se hur Andreas jobbade på förläsningarna med tavlan och man 
            efterliknande och gjorde detsamma under uppgifterna gick allt också mycket enklare. Allt som allt känns 
            det som ett lagom kursmoment.
        </p>
        <p>
            Får självklart pylint errors för to-many-branches, försökte lägga in en ignore för det men fick det inte 
            att fungera. Skulle kunnat gjort en "switch case"(finns inte för python) fast en annan variant istället. 
            Men gjorde aldrig det.
        </p>
        </hr>
        <h3>Kmom05</h3>
        <ol>
            <li>Vad är rekursion?</li>
            <li>Känner du att du har förståelse för hur sorteringsalgoritmerna fungerar?</li>
            <li>Vad tycker du om VisuAlgo?</li>
            <li>Vad är big-O?</li>
            <li>Gjorde du någon av extrauppgift?</li>
            <li>Gick det bra att komma i gång med kursmomentet, var det lagom, för litet, för stort?</li>
        </ol>
        <hr>
        <p>
            Egentligen första gången jag sätter mig in i rekursiva funktioner. Är nästan helt säker på att jag använt 
            mig utav det tidigare men läste aldrig på och satte mig in i termen. Efter lite research om rekursiva 
            funktioner har jag bara sett varningar att man inte ska använda sig utav det och mestadels verkar det handla
            om att det är slött och mer memory samt processor krävande.
        </p>
        <p>
            Men åter till frågan, en rekursiv funktion är en funktion som på nått sätt anropar sig själv direkt eller 
            via en annan funktion. Ett exempel på detta kan se ut som följande:
        </p>
        <li>- for-loop</li>
        <code>
            for i in range(0,5)
	            print(i)
        </code>
        <li>- recusive </li>
        <code>
            def rec_range(n):
                if not n <= 1: return rec_range(n-1) + (n-1,)
                return (0,)
        </code>
        <p>
            Kanske inte det bästa exemplet men det funkar och påvisar skillnaden.
        </p>
        <p>
            Det var inte allt för svårt att förstå hur sorteringsalgoritmer fungerar. Finns algoritmer går igenom listan
            och jämför intilliggande par med varandra och om dem ligger i fel ordning byter dem plats med varandra, 
            proceduren pågår tills listan är helt sorterad (Bubble sort). Bubble sort kanske inte är att föredra det 
            finns två andra varianter man i så fall bör använda nämligen Selection sort och Insertion sort där den 
            sistnämnda är snabbast. Insertion sort fungerar i stora drag precis som när du sorterar dina kort på handen 
            under ett kortspel. Man tar ett kort ittererar genom korten på handen och placerar det där den hör hemma och
            tillslut har man en sorterad hand.
        </p>
        <p>
            VisuAlgo är riktigt bra inte bara för att visualisera sorteringsalgoritmer utan också många andra typer utav
            datastrukturer. När det kommer till sorteringsalgoritmerna på sidan, är det ett perfekt verktyg att få se 
            hur allt fungerar både visuelt och hur det hanteras i kod. Denna sida hamnade direkt i bibloteket inför 
            framtiden. 
        </p>
        <p>
            För att enkelt förklara big-O, så är det ett "mätsätt" som på ett ungefärligt sätt beräknar hur lång tid en 
            funktion tar på sig för att beräkna sin utdata.
        </p>
        <p>
            Kursmomentet motsvarde ungefär föregående kursmoment, gick lätt att komma igång och var helt lagom 
            storleksmässigt.
        </p>
        </hr>
    </div>
</div>

{% include 'footer.html' %}